
// Variables
@import "variables";
@import "normalize";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  background: url('/images/bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
}
.app-container {
  background: rgba($dark-blue, 0.75);
  padding: 20px;
  width: 100%;
  height: 100%;
}
.app-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  margin: 40px auto;
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    color: $grey;
    font-weight: normal;
    margin-top: 0;
  }
  .countdown {
    width: 100%;
    text-align: center;
  }
}
.inventory-container {
  .inventory-category {
    color: $yellow;
  }
  .inventory-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0; padding: 0;
    list-style-type: none;
    .inventory-item {
      flex-basis: calc(33.33% - 20px);
      margin-right: 20px; margin-bottom: 30px;
      a {
        color: #fff;
        display: flex;
        text-decoration: none;
        .icon-wrap {
          position: relative;
          width: 70px; height: 70px;
          .item-stacks {
            background: #fff;
            color: $dark-blue;
            position: absolute; bottom: 0; right: 0;
            padding: 3px;
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
        img {
          border: 2px solid #fff;
          align-self: center;
          width: 70px;
        }
        .item-meta {
          padding: 10px;
          .item-name {
            margin: 0;
            margin-bottom: 5px;
          }
          .item-type {
            margin: 0;
            color: $grey;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .inventory-container .inventory-items .inventory-item {
    flex-basis: calc(50% - 20px);
  }
}
